
<!DOCTYPE html>
<html>
	<head>
		<title> Succesfully Created User Page </title>
	</head>
	<body>
		<h1>
			Successfully created new user! 
		</h1>
		<h2> 
			<p> 
				<a href = "/create">Create New User</a>
            </p>
            <p>
                <a href = "/"> Sign In</a>
            </p>
            
		</h2>

		
	</body> 
</html>

